.cookie {
    padding: 15px 1.5rem;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.cookie.visible {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.cookie__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cookie__text {
    margin-bottom: 10px;
    font-size: 14px;
}

.cookie__accept {
    margin-bottom: 10px;
    border: none;
    box-shadow: none;
    background-color: #333;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cookie__accept:hover,
.cookie__accept:focus {
    background-color: #000000;
}

.cookie__policy {
    text-decoration: underline;
    font-size: 14px;
}

@media (min-width: 768px) {
    .cookie__text {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .cookie__accept {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .cookie {
        padding: 15px 2.5rem;
    }
}