@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@import 'lesshat/lesshat.less';


@darkblue : #1c1e21;
@textcolor: #18191d;
@lightgrey:#f8f8f8;
@orange:#ffb32f;

* {
	box-sizing: border-box;
}
html {
    // font-size: 18px;
    font-size:1vw;
    // height: 100%;
    @media (max-width: 1300px) {
        // font-size: 1.2vw;
    }
    @media (max-width: 1150px) {
    }
    @media (max-width: 768px) {
        font-size: 4.5vw;
    }    
    @media (max-width: 640px) {
      // font-size: 4.2vw;
    }    
    @media (max-width: 320px) {
    }
}
body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "museo-sans",sans-serif;
  font-weight: 400;
  color: @textcolor;
  margin: 0;
  box-sizing: border-box;
  background-color:#fff;
  direction: ltr;
  font-size: 0.947rem;
}

img {
    max-width: 100%;
    height: auto;
}
img , a , input , textarea , :focus{
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
ol {
  margin: 0;
  padding: 0;
  li {
  	list-style-position: inside;
  }	
}
ul {
  margin: 0;
  padding: 0;
  li {
  	list-style: none;
  }
}
ins {
  text-decoration: none !important;
}
p{
  margin-top: 0;
  font-size: inherit;
  a {
    // color:@orange;
    text-decoration: underline;
    font-weight: bold;
  }
}

label {
  cursor: pointer;
}

button {

}
h1 {
	font-size: 2.632rem;
	margin:0;
	font-weight: 400;
  line-height: 1.2;
   @media (max-width: 768px) {
    font-size: 2rem;
   }
}

h2 {
	font-size: 1.263rem;
	margin:0;
	font-weight: 400;
  &.section-title {
    margin-bottom: 4rem;
    &:after {
      content: "";
      display: block;
      width: 2.474rem;
      height: 2px;
      background-color: @orange;
      margin-top: 0.7rem;
    }
  }
   @media (max-width: 768px) {
    &.section-title {
      margin-bottom: 3rem;
    }
   }
}

h3 {
  font-size: 1.579rem;
  margin:0;
}


.video-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  iframe , video{

    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-size: cover;

  }
}


.desktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 769px) {
    display: none;
  }
}


.mobile-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.2rem;
  margin:0;
  z-index: 2;
  display: none;
  position: absolute;
  z-index: 35;
  right: 1.5rem;
    .bar {
      top:50%;
      position: absolute;
      // .transform(translateY(-50%));
      // transition: all 0ms 300ms;
      width: 100%;
      height: 1px;
      background: #fff;
      .transition(transform 0ms 300ms);
      &:before , &:after {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
      }
      &:before {
        bottom:0.6rem;
        .transition(bottom 300ms 300ms cubic-bezier(.23,1,.32,1),transform 300ms cubic-bezier(.23,1,.32,1));
      }
      &:after {
        top:0.6rem;
        .transition(top 300ms 300ms cubic-bezier(.23,1,.32,1),transform 300ms cubic-bezier(.23,1,.32,1));
      }

      &.animate {
        background: transparent !important;
        // opacity: 0;
        &:before {
          bottom:0;
          background-color: #707070;
          .transform(rotate(-45deg));
          .transition(bottom 300ms cubic-bezier(.23,1,.32,1),transform 300ms 300ms cubic-bezier(.23,1,.32,1));
        }
        &:after {
          top:0;
           background-color: #707070;
          .transform(rotate(45deg));
          .transition(top 300ms cubic-bezier(.23,1,.32,1),transform 300ms 300ms cubic-bezier(.23,1,.32,1));
        }
      }
    }

    @media (max-width: 768px) {
      // position: relative;
      display: block;
    }
}

.bg-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


form {
  margin:0 -0.6rem;
  .display(flex);
  .flex-wrap(wrap);
  position: relative;
  overflow: hidden;
}

.thankyou-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .display(flex);
  .align-items(center);
  .flex-direction(column);
  color:#fff;
  opacity: 0;
  .transform(translateY(-100%));
  text-align: center;
  .justify-content(center);
  padding: 1rem;
  background-color: @darkblue;
  z-index: 3;
  .transition(all 0.4s ease);
  .big-text {
    font-size: 2rem;
  }
  .small-text {
    font-size: 1.3rem;
  }
  &.show {
    .transform(translateY(0));
    opacity: 1;
  }
}

fieldset {
  padding: 0 0.6rem;
  margin: 0.6rem 0;
  border:none;
  width: 50%;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
  }
}
label.error {
  position: absolute;
  top: 100%;
  left:0;
  width: 100%;
  text-align: right;
  font-size: 0.6rem;
  color:red;
  padding: 0 0.6rem;
}
input {
	width: 100%;
	height: 2.8rem;
	border:1px solid fade(#fff , 40%);
	font-size: 1.053rem;
	font-weight: 400;
	padding: 0 1rem;
	background-color: transparent;
	font-family: inherit;
	-webkit-appearance: none;
  color:#fff;
  &.error {
    border-color:red;
  }
    &::-webkit-input-placeholder { /* Edge */
      color:  fade(#fff , 40%);
      transition: color 0.5s ease;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:  fade(#fff , 40%);
      transition: color 0.5s ease;
    }

    &::placeholder {
      color:  fade(#fff , 40%);
      transition: color 0.5s ease;
    }

    &:focus {
      &::-webkit-input-placeholder { /* Edge */
        color: transparent;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: transparent;
        // transition: color 0.5s ease;
      }

      &::placeholder {
        color: transparent;
        // transition: color 0.5s ease;
      }
    }
    &[type="submit"] {
    	width: 100%;
    	height: 2.737rem;
    	margin:0;
    	display: block;
    	position: relative;
    	z-index: 2;
    	cursor: pointer;
      background-color: @orange;
      text-transform: uppercase;
      width: 7.842rem;
      border:1px solid @orange;
      .transition(all 0.4s ease);
      font-weight: 500;
      color:@textcolor;
      &:hover {
        background-color: transparent;
        color:@orange;
      }
    }
}

.container {
  max-width: 63rem;
  padding: 0 2rem;
  width: 100%;
  margin:0 auto;
}

.site-header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: 0 2.5rem;
  z-index: 50;
  
  .display(flex);
  .align-items(center);
  .justify-content(space-between);
   height: 4.7rem;

   &.simple-page {
    background-color: @darkblue;
    .logo {
      margin-top: 0;
      img {
        width: 3rem;
      }
      
    }    
   }

  .logo {
    margin-top: 5rem;
   .transition(width 0.4s ease);
    img {
      .transition(width 0.4s ease);
      width: 7.7rem;
    }
  }

  nav {
    .display(flex);
    .align-items(center);
  }

  .header-socials {
    .display(flex);
    .align-items(center);
    padding-left:1rem;
    margin-left: 1rem;
    border-left: 1px solid fade(#fff , 40%);
    a {
      &:hover {
        svg {
          path , rect {
            fill:@orange;
          }
        }
      }
    }
  }
  ul {
    height: 100%;
    .display(flex);
    .align-items(center);
    .justify-content(flex-end);
    li {
      margin-left:2rem;
      a {
          font-size: 0.632rem;
          color:fade(#fff , 40%);
          text-transform: uppercase;
          .transition(all 0.4s ease);
          display: block;
          position: relative;
          &:after {
            content: "";
            width: 0;
            height: 1px;
            .transition(width 0.4s ease);
            margin-top: 0.4rem;
            top: 100%;
            position: absolute;
            left:0;
          }
          &:hover {
            color:#fff;
          }
          &.active {
            color:#fff;
            &:after {
              background-color: @orange;
              width: 100%;
            }

          }
      }

    }
  }

  @media (max-width: 768px) {
    padding: 0 1.5rem;
    .logo {
      margin-top: 1.5rem;
      img {
        width: 4.3rem;
      }
    }

    .header-socials {
      padding:0;
      margin:0;
      border: none;
      path , rect {
        fill:#18191d;
      }
    }
    nav {
      position: fixed;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 30;
      background-color: fade(#fff , 95%);
      padding: 10rem 2rem;
      .transform(translateX(100%));
      .transition(all 0.4s ease);
      .flex-direction(column);
      .align-items(flex-end);
      &.open {
        .transform(translateX(0));
      }
      ul {
        .flex-direction(column);
        .align-items(flex-end);
        height: auto;
        li {
          margin-left:0;
          a {
            color: @textcolor;
            font-size: 1.4rem;
            padding: 0.8rem 0;
            // margin:0.2rem 0;
            &.active {
              font-weight: 600;
              color: @textcolor;
            }
            &:after {
              height: 4px;
              border-radius: 0.5rem;
              background-color: @orange;
              width: 2.5rem;
              right: 0;
              left:auto;
              top:90%;
              margin-top: 0;
              // top:auto;
            }
          }
          // &:nth-last-child(2) {
          //   a {
          //     &:before {
          //       content: "";
          //       display: block;
          //       width: 120%;
          //       height: 4px;
          //       border-radius: 0.5rem;
          //       background-color: @orange;
          //       position: absolute;
          //       right: 0;
          //       top: 100%;
          //     }
          //   }
          // }
          // &:first-child {
          //   a {
          //     &:before {
          //       content: "";
          //       display: block;
          //       width: 100%;
          //       height: 4px;
          //       border-radius: 0.5rem;
          //       background-color: @orange;
          //       position: absolute;
          //       right: 0;
          //       top: -0.5rem;
          //     }
          //   }
          // }
          &:last-child {
            margin-top: 4rem;
            a {
              color:@orange;
            }
            a {
              &:after {
                content: none;
              }
            }
          }
        }

      }
    }
  }
}

body.scrolling , body.simple-page {
  .site-header {
    background-color: @darkblue;
    .logo {
      margin-top: 0;
      img {
        width: 3rem;
      }
      
    }
  }
}

.top-banner {
  background-color: #1b1c21;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  z-index: 1;
  .container {
    height: 100%;
  }
  .animation-wrapper {
    height: 100%;
    .display(flex);
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);
  }
}

.main-content {
  position: relative;
  z-index: 3;
  background-color: #fff;
  margin-top: 100vh;
  min-height: 100vh;
  &.simple-page {
    margin-top: 5rem;
  }
}

section#about {
  padding: 7.8rem 0;
  .parts-wrapper { 
    .display(flex);
    .align-items(stretch);
    .justify-content(space-between);
    h1 {
      font-weight: 500;
    }
    .left-part {
      width: 35%;
      .display(flex);
      .flex-direction(column);
      .justify-content(space-between);
      margin-bottom: 2.5rem;
    }
    .right-part {
      width: 46%;
      line-height: 1.5;
      p {
        &:last-child {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2.3rem 0;
    .parts-wrapper {
      .flex-direction(column);
      .left-part {
        width: 100%;
      }
      .right-part {
        width: 100%;
      }
    }
  }
}

section#team {
  background-color: @lightgrey;
  padding: 4.3rem 0;

  .team-setperator {
    height: 8rem;
    width: 100%;
    display: block;
  }

  .main-sub-title {
    text-transform: uppercase;
    font-size: 1.263rem;
    font-weight: 600;
    margin:1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
  }

  .team-wrapper {
    .display(flex);
    .align-items(stretch);
    .flex-wrap(wrap);
    // .justify-content(space-between);
    margin:0 -0.6rem;
    .member {
      width: 33%;
      padding: 0 0.6rem 1.2rem;
      // margin-bottom:1.2rem;
      cursor: pointer;
      position: relative;
      .inner {
        position: relative;
        height: 100%;
        height: 20rem;
        overflow: hidden;
        .title {
          position: absolute;
          width: 100%;
          left:0;
          bottom:0;
          padding: 1.3rem 2rem;
          background-image: linear-gradient(180deg, rgba(28, 30, 33, 0) 0%, #1c1e21 100%);
          color: #fff;
          font-size: 0.947rem;
          z-index: 1;
          min-height: 8rem;
          .display(flex);
          .flex-direction(column);
          .justify-content(flex-end);
          .name {
            text-transform: uppercase;
            font-size: 1.158rem;
            margin-bottom: 0.3rem;
          }

        }
      }
      .inner-text {
        display: none;
      }
      .hover-img {
        opacity: 0;
        .transition(all 0.4s ease);
      }
      @media (min-width: 769px) {
        &:hover {
          .hover-img {
            opacity: 1;
          }
        }
      }
      &.active {
        .hover-img {
          opacity: 1;
        }
        &:not(.empty){
          &:after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.8rem 1.1rem 0 1.1rem;
            border-color: @orange transparent transparent transparent;          
            position: absolute;
            top: 100%;
            left:0;
            right: 0;
            margin:0 auto;
          }          
        }


      }
    }
  }


  .text-wrapper {
    border-top: 1px solid @orange;
    padding: 3.4rem 0;
    // margin-top: 0.6rem;
    display: none;
  }


  .inner-text {
    .display(flex);
    .align-items(stretch);
    .justify-content(space-between);
    
    // opacity: 0;
    // position: absolute;
    .left-text {
      width: 25%;
      .display(flex);
      .flex-direction(column);
      .justify-content(space-between);
      h3 {
        text-transform: uppercase;
      }
      .sub-title {
        font-size: 1.1rem;
        margin-top: 0.3rem;
      }
      .tm-contact {
        color: #707070;
        font-size: 0.947rem;
        line-height: 1.5;
      }
    }
    .right-text {
      width: 65.9%;
      strong {
        margin-bottom: 0.7rem;
        display: block;
      }
      p {
        // margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.active {
      // opacity: 1;
      // position: relative;
      // .transition(opacity 0.3s ease);
    }
  }


  @media (max-width: 768px) {
    padding: 3rem 0;
    .team-wrapper {
      .member {
        width: 100%;
        &.active {
          &:after {
            content: none;
          }
        }
      }
    }

    .text-wrapper {
      display: none !important;
    }
    .inner-text {
      .flex-direction(column);
      padding-top: 2rem;
      margin-top: 2rem;
      padding-bottom: 1rem;
      border-top: 1px solid @orange;
      position: relative;
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0.8rem 1.1rem 0 1.1rem;
          border-color: @orange transparent transparent transparent;          
          position: absolute;
          top: 0;
          left:0;
          right: 0;
          margin:0 auto;
        }
      .left-text {
        width: 100%;
        margin-bottom: 1.5rem;
        .tm-name {
          margin-bottom: 1.5rem;
        }    
        .tm-contact {
          color:@textcolor;
        }    
      }
      .right-text {
        width: 100%;
      }
    }
  }
}

section#services {
  padding: 4rem 0;
  strong {
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
  }
  .parts-wrapper {
    .display(flex);
    .align-items(stretch);
    .justify-content(space-between);
    .left-part {
      width: 42%;
      // font-size: 1rem;
      line-height: 1.5;
    }
    .right-part {
      width: 46%;
    }
  }

  @media (max-width: 768px) {
    padding: 2.3rem 0;
    .parts-wrapper {
      .flex-direction(column);
      .left-part {
        width: 100%;
      }
      .right-part {
        width: 100%;
      }
    }
  }
}

.swiper-button-next , .swiper-button-prev {
  &:after {
    content: none;
  }
  &:hover {
    svg {
      path {
        stroke: @orange;
      }
    }
  }
}

.swiper-button-next {
  right: -5rem;
}

.swiper-button-prev {
  left: -5rem;
}

.swiper-pagination {
  position: relative;
  padding-top: 1rem;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 0.4rem;
    opacity: 1;
    background-color: @textcolor;
    &.swiper-pagination-bullet-active {
      background-color: @orange;
    }
  }
}

section#articles {
  background-color: #efefef;
  padding: 4.3rem 0;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 3rem 0;
  }
  .container {
   
  }
  .articles-wrapper {
     position: relative;
    margin: 0 -0.6rem;
  }
  .swiper-slide {
    .align-self(stretch);
    height: auto;
  }
  article {
    padding: 0 0.6rem;
    height: 100%;
    // width: 33.3%;
    .inner {
      background-color: #fff;
      padding: 1.4rem 2rem 4rem;
      height: 100%;
      position: relative;
    }
    .article-body {
      font-size: 0.842rem;
      font-weight: 400;
      letter-spacing: 0.017rem;
      line-height: 1.263rem;
    }
    .details {
      color: #1c1e21;
      font-size: 0.737rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      time {
        text-transform: none;
        display: block;
      }
    }
    .article-title {
      font-size: 1.263rem;
      font-weight: 600;
      margin-bottom: 1.7rem;
    }

    .read-more {
      color:@orange;
      font-size: 0.737rem;
      font-weight: 400;
      margin-top: 2rem;
      display: flex;
      .align-items(center);
      position: absolute;
      bottom:1.2rem;
      left: 2rem;
      &:hover {
        font-weight: 600;
      }
      i {
        margin-left:  0.3rem;
        display: block;
        line-height: 0.8;
      }
    }
  }

  @media (max-width: 768px) {
    article {
      padding: 0;
    }
  }

  .swiper-pagination {

    @media (min-width: 769px) {
      display: none;
    }
  }
}

section#contact {
  padding: 3rem 0;
  background-color: @darkblue;
  color:#fff;
  h2.section-title {
    margin-bottom: 1rem;
  }
  .parts-wrapper {
    .display(flex);
    .align-items(stretch);
    .justify-content(space-between);
    .left-part {
      width: 52%;
      .display(flex);
      .flex-direction(column);
      // .justify-content(space-between);
      .contact-details {
        font-size: 1rem;
        line-height: 1.3;
        margin-top: 4.7rem;
      }
    }
    .right-part {
      width: 46%;
      margin-top: 1rem;
    }
  }

  .contact-details {
    .display(flex);
    .detail-col {
      padding-right:1rem;
      margin-right: 1rem;
      border-right:1px solid rgba(255, 255, 255, 0.4);
      font-size: 0.8rem;
      line-height: 1.5;
      &:last-child {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
      }
    }
  }

  .bottom-links {
    margin-top: 4rem;
    ul {
      .display(flex);
      .align-items(center);
      // .justify-content(center);
      li {
        font-size: 0.8rem;
        &:after {
          content: "|";
          display: inline-block;
          padding: 0 0.5rem;
        }
        &:last-child {
          &:after {
            content: none;
          }
        }
      }
    }
  }

  .small-text {
    font-size: 0.6rem;
    opacity: 0.6;
    max-width: 31rem;
    margin-top: 1rem;
    text-align: justify;
  }

  .rights-text {
    display: none;
  }

   @media (max-width: 768px) {
    padding: 2.3rem 0;
    h2.section-title {
      margin-bottom: 2rem;
    }
    .contact-details {
      .flex-direction(column);
      .detail-col {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom:1px solid rgba(255, 255, 255, 0.4);
      }
    }
    .parts-wrapper {
      .flex-direction(column);
      .left-part {
        width: 100%;
        .contact-details {
          font-size: 0.789rem;
          line-height: 1.5;
        }
      }
      .right-part {
        width: 100%;
      }
    }
   }
}

.accordion {
  li {
    border-bottom:1px solid @orange;
    padding-top: 0.7rem;
   
    .title {
       font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.7rem;
      .display(flex);
      .align-items(center);
      .justify-content(space-between);
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        width: 0.474rem;
        height: 0.895rem;
        background-image: url('../img/right-arrow.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
      }
      &.no-arrow {
        &:after {
          content: none;
        }
      }
    }

    &.open {
      .title {
        &:after {
          .transform(rotate(90deg));
        }
      }
    }

    .text {
      font-weight: 300;
      display: none;
      line-height: 1.5;
    }
  }

  @media (max-width: 768px) {
    li {
      padding-top: 1rem;
      .title {
        margin-bottom: 1rem;
      }
      .text {
        line-height: 1.5;
      }
    }
  }
}

.socials {
  .display(flex);
  .align-items(center);
  margin-top: 1rem;
  li {
    margin-right: 0.7rem;
    span {
      display: block;
      width: 1.684rem;
      height: 1.684rem;
      border:1px solid @textcolor;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1.1rem;
      .transition(all 0.4s ease);
      &.linkedin {
        background-image: url('../img/insta.svg');
      }
      &:hover {
        background-color:@orange;
        border-color:@orange;
      }
    }
  }
}



.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-13 23:24:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}




.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-12-13 23:28:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.flexible-row {
  .display(flex);
  .item {
    margin-right: 0.7rem;
    .flex(0 1 auto);
    &:last-child {
      margin-right: 0;
    }
  }
}

section.recognitions {
  padding-bottom: 6.3rem;
  overflow: hidden;
  .recognition-wrapper {
    position: relative;
  }
  .read-more {
    color:@orange;
    font-size: 0.737rem;
    margin-top: 4rem;
    cursor: pointer;
    .display(flex);
    .align-items(center);
    .arrow {
      width: 3rem;
      height: 1rem;
      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto;
      display: inline-block;
      margin-left: 0.3rem;
    }
    &.close {
      .arrow {
        background-image: url('../img/close-icon.svg');
      }
    }    
  }
  .swiper-slide {
    padding-right:2.7rem;
    margin-right: 1rem;
    h4 {
      margin-top: 0;
      font-size: 0.9rem;
    }
  }
  .swiper-wrapper {
    .align-items(stretch);
    // margin-left: -2rem;
    .image {
      .display(flex);
      height: 10rem;
      align-items: center;
      img {
        display: block;
      }
    }
    .text {
      font-size: 0.842rem;
      line-height: 1.4;
      display: none;
    }
  }


  @media (max-width: 768px) {
      padding-bottom: 2rem;
      padding-top: 2rem;
      .read-more {
        display: none;
      }
      .swiper-slide {
        padding-right: 0;
        margin-right: 0;
      }
      .swiper-wrapper {
        .text {
          display: block;
        }
      }
  }
}


section.simple-text {
  padding: 4rem 0;
  .container {
    max-width: 45rem;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  ol {
    padding-left: 1rem;
    li {
      list-style-position: outside;
       margin-bottom: 1rem;
    }
  }
  ul {
    padding-left: 1rem;
    li {
      list-style:disc;
      list-style-position: outside;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}